<a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Pizzas">Pizza Menu</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Sides">Sides Menu</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Drinks">Drink Menu</a>