<style>
    .menuButton{
        height: 100px;
        border: 2px solid black;
        font-size: xx-large;
        font-weight:bold;
    }
</style>
<a class="nav-link text-dark menuButton" asp-area="" asp-controller="Menu" asp-action="Pizzas">Pizza Menu</a>
<br/>
<a class="nav-link text-dark menuButton" asp-area="" asp-controller="Menu" asp-action="Sides">Sides Menu</a>
<br/>
<a class="nav-link text-dark menuButton" asp-area="" asp-controller="Menu" asp-action="Drinks">Drink Menu</a>