@using Hillarys_Pizzeria_Project.Controllers;

@model List<Hillarys_Pizzeria_Project.Models.MenuItem>

@{
    ViewData["Title"] = "Pizza Menu";
}
<style>
    .menuButton{
        height: 45px;
        width: 240px;
        border: 2px solid black;
        font-size: large;
        font-weight:bold;
    }
</style>

<a class="nav-link text-dark menuButton" asp-area="" asp-controller="Menu" asp-action="Index">Back to Menu Selection</a>

@{
    foreach (var item in Model)
    {
        <h1>@item.food_name</h1>
        <p>
        <pre style="font-family:sans-serif; font-size:medium;">
        @item.description 
        $ @item.price
        </pre>
        </p>
        @Html.ActionLink("Add To Cart", "CustomizePizzaView", new {selectedItemID = item.food_id})
        <hr>
        <br />
        <br />
    }
}