@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> &ensp; Welcome to Hillarys Pizzaeria!</h1>
    <div>
        <pre style="font-family:sans-serif; font-size:medium;">
            Hello and welcome to Hillary's Pizzeria! We're family owned and operated since
            2005, bringing the family to our Family Friendly Resturant. Our dough is made
            fresh daily and our hand-tossed pies are topped with the freshist ingreidents.
            Coming from New Jersey, we have years of experience that we've brough to the
            atlanta area, making our mark in the Heart of the South.
        </pre>
    </div>
    <br/>
    <div>
        <pre style="font-family:sans-serif;">
            We are located at 1234 
            Breadwell Rd, Milton, GA
            30004
        </pre>
    </div>
</div>
    


