@{
    ViewData["Title"] = "Home Page";
}
<style>
    p{
        max-width:500px;
        text-align: center;
        
    }
    #hometext{
        position: relative;
        left:370px;
        max-width:500px;
        text-align: center;
    }
</style>

<div class="text-center">
    <h1>Welcome to Hillarys Pizzaeria!</h1>
    <div id="hometext">
    Hello and welcome to Hillary's Pizzeria! We're family owned and operated since 2005, bringing the family to our Family Friendly Resturant. Our dough is made fresh 
        daily and our hand-tossed pies are topped with the fresshest ingreidents. Coming from New Jersey, we have years of experience that we've brough to the atlanta area
        , making our mark in the Heart of the South.
        <div style="position:absolute; left:150px;">
        <pre style="font-family:sans-serif;">
        We are located at 1234 
        Breadwell Rd, Milton, GA
        30004
        </pre>
    </div>
    </div>
    
    
    </div>
</div>
