@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Uh, excuse me, a little privacy here</p>
<p style="font-size: xx-small;">privacy</p>
<img src="https://imgs.xkcd.com/comics/computer_problems.png" alt="me right now">