

<p>
    Price breakdown:
</p>
<br />
<p>
    SubTotal: @Cart.CalculateSubTotal()
</p>
<p>
    Tax Due: @Cart.CalculateTax()
</p>
<p>
    Final Total: @Cart.CalculateTotal()
</p>

<!-- below this line would be where the form for creating the order should end up going -->



<a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Checkout">To Checkout</a>